<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>StatBid Calculators</title>
  <link rel="stylesheet" href="./css/style.css">
  <style></style>
</head>

<body>
  <main>
    <div id="root"></div>
  </main>
  <script type="importmap">
    {
      "imports": {
        "lib/": "./lib/",
        "jquery": "https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js",
        "autoNumeric": "https://cdnjs.cloudflare.com/ajax/libs/autonumeric/2.0.10/autoNumeric.js",
        "highcharts": "https://code.highcharts.com/highcharts.js",
        "annotations": "https://code.highcharts.com/modules/annotations.js"
      }
    }
  </script>
  <script src="./js/main.js" type="module"></script>
  <script src="./lib/prototypes.js"></script>
  <noscript>Enable JavaScript in your browser for this app to work.</noscript>
</body>

</html>