<!-- Include jQuery and autoNumeric libraries -->
<script
    src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/autonumeric/2.0.10/autoNumeric.js"></script>

<div class="hypothetical_cos_calculator">
    <div class="hypothetical_cos_calculator_titel">Hypothetical Budget Change
    </div>
    <div class="hypothetical_cos_calculator_divider"></div>

    <div class="hypothetical_cos_calculator_inputs">
        <div class="hypothetical_cos_calculator_input_section">
            <div
                class="hypothetical_cos_calculator_row hypothetical_cos_calculator_row_f">
                <div class="hypothetical_cos_calculator_cell">Current Tier Spend
                </div>
                <div class="hypothetical_cos_calculator_cell">
                    <input type="text" id="budget_spend_value" class="tbl_us"
                        value="5000">
                </div>
                <div style="clear: both;"></div>
            </div>

            <div class="hypothetical_cos_calculator_row">
                <div class="hypothetical_cos_calculator_cell">Current Tier
                    Revenue</div>
                <div class="hypothetical_cos_calculator_cell">
                    <input type="text" id="budget_revenue_value" class="tbl_us"
                        value="20000">
                </div>
                <div style="clear: both;"></div>
            </div>
        </div>

        <div class="hypothetical_cos_calculator_input_section"
            style="margin-right: 0px;">
            <div
                class="hypothetical_cos_calculator_row hypothetical_cos_calculator_row_f hypothetical_cos_calculator_addrs">
                <div class="hypothetical_cos_calculator_cell">Current COS</div>
                <div class="hypothetical_cos_calculator_cell">
                    <input type="text" id="budget_current_cos_value"
                        class="tbl_percent" disabled>
                </div>
                <div style="clear: both;"></div>
            </div>

            <div class="hypothetical_cos_calculator_row">
                <div class="hypothetical_cos_calculator_cell">Hypothetical New
                    Spend</div>
                <div class="hypothetical_cos_calculator_cell">
                    <input type="text" id="budget_new_cos_value" class="tbl_us"
                        value="7500">
                </div>
                <div style="clear: both;"></div>
            </div>
        </div>
    </div>

    <div class="hypothetical_cos_calculator_results">
        <div id="hcoscontainer" style="min-width: 380px"></div>

        <div
            class="hypothetical_cos_calculator_row hypothetical_cos_calculator_row_f">
            Hypothetical New COS: <span id="budget_hns"
                class="gc_results"></span>
        </div>
        <div class="hypothetical_cos_calculator_row">
            Hypothetical New Revenue: <span id="budget_hnr"
                class="gc_results"></span>
        </div>

        <div class="hypothetical_cos_calculator_divider"></div>

        <div class="hypothetical_cos_calculator_row">
            Incremental Spend: <span id="budget_is" class="gc_results"></span>
        </div>
        <div class="hypothetical_cos_calculator_row">
            Incremental Revenue: <span id="budget_ir" class="gc_results"></span>
        </div>
        <div class="hypothetical_cos_calculator_row">
            Incremental COS: <span id="budget_icos" class="gc_results"></span>
        </div>
    </div>
</div>

<!-- Styles -->
<style>
    .hypothetical_cos_calculator *,
    .hypothetical_cos_calculator ::after,
    .hypothetical_cos_calculator ::before {
        box-sizing: border-box;
    }

    .hypothetical_cos_calculator {
        position: relative;
        max-width: 720px;
        width: 100%;
        margin: 20px auto;
        background: #0c1a5b;
        padding: 35px 27px 20px;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, .2);
    }

    .hypothetical_cos_calculator_titel {
        font-size: 38px;
        text-transform: capitalize;
        font-weight: 700;
        text-align: center;
        padding-bottom: 18px;
        color: #fff;
    }

    .hypothetical_cos_calculator_divider {
        background: rgba(245, 245, 245, .11);
        height: 2px;
        width: 75%;
        margin: 0 auto 10px;
    }

    .hypothetical_cos_calculator_input_section {
        float: left;
        width: calc(50% - 5px);
        margin-right: 10px;
        padding-top: 15px;
    }

    .hypothetical_cos_calculator_row {
        margin-bottom: 10px;
        box-shadow: 1px 1px 5px #060606;
        padding: 20px 0;
        background: #f5f5f5;
    }

    .hypothetical_cos_calculator input[type=text] {
        width: 100%;
        max-width: 200px;
        border: 0;
        box-shadow: inset 1px 1px 5px #060606;
        background: #0c1a5b;
        padding: 5px 15px;
        color: #fff;
    }

    .hypothetical_cos_calculator_cell {
        float: left;
        width: 50%;
    }

    .hypothetical_cos_calculator_results {
        margin-top: 20px;
    }
</style>

<!-- JavaScript -->
<script>
    function calculateBudgetCOS() {
        var e = {
            spend: parseFloat(jQuery("#budget_spend_value").autoNumeric("get")),
            revenue: parseFloat(jQuery("#budget_revenue_value").autoNumeric("get")),
            new: parseFloat(jQuery("#budget_new_cos_value").autoNumeric("get"))
        };

        e.current_cos = e.spend / e.revenue;
        e.budget_hns = Math.sqrt(e.new / e.spend) * e.current_cos;
        e.budget_hnr = e.new / e.budget_hns;
        e.budget_is = e.new - e.spend;
        e.budget_ir = e.budget_hnr - e.revenue;
        e.budget_icos = (e.budget_is / e.budget_ir) * 100;

        if (isFinite(e.budget_hns)) {
            document.getElementById("budget_current_cos_value").value = (100 * e.current_cos).formatMoney(2, ".", ",") + "%";
            document.getElementById("budget_hns").innerHTML = (100 * e.budget_hns).formatMoney(2, ".", ",") + "%";
            document.getElementById("budget_hnr").innerHTML = "$" + e.budget_hnr.formatMoney(0, ".", ",");
            document.getElementById("budget_is").innerHTML = "$" + e.budget_is.formatMoney(0, ".", ",");
            document.getElementById("budget_ir").innerHTML = "$" + e.budget_ir.formatMoney(0, ".", ",");
            document.getElementById("budget_icos").innerHTML = e.budget_icos.formatMoney(2, ".", ",") + "%";
        }
    }

    jQuery(function () {
        jQuery(".tbl_us").autoNumeric("init", {
            currencySymbol: "$",
            digitGroupSeparator: ",",
            decimalCharacter: ".",
            decimalPlacesOverride: 0
        });

        jQuery(".tbl_percent").autoNumeric("init", {
            currencySymbol: "%",
            digitGroupSeparator: ",",
            decimalCharacter: ".",
            decimalPlacesOverride: 2,
            currencySymbolPlacement: "s"
        });

        jQuery("#budget_spend_value, #budget_revenue_value, #budget_new_cos_value").change(function () {
            calculateBudgetCOS();
        });

        calculateBudgetCOS();
    });

    Number.prototype.formatMoney = function (e, t, u) {
        var n = this,
            r = (e = isNaN(e = Math.abs(e)) ? 2 : e, t = null == t ? "." : t, u = null == u ? "," : u, n < 0 ? "-" : ""),
            a = parseInt(n = Math.abs(+n || 0).toFixed(e)) + "",
            d = (d = a.length) > 3 ? d % 3 : 0;
        return r + (d ? a.substr(0, d) + u : "") + a.substr(d).replace(/(\d{3})(?=\d)/g, "$1" + u) + (e ? t + Math.abs(n - a).toFixed(e).slice(2) : "");
    };
</script>