<!-- Include necessary libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/autonumeric/2.0.10/autoNumeric.js"></script>

<!-- Incrementality Test Budget & Length Calculator HTML Structure -->
<div id="bl_calculator">
    <div class="bl_calculator_titel">Incrementality Test Budget & Length Calculator</div>
    <div class="bl_calculator_divider"></div>
    
    <div class="bl_calculator_inputs">
        <div class="bl_calculator_input_section">
            <div class="bl_calculator_name_section">Sitewide Metrics</div>
            
            <div class="bl_calculator_row bl_calculator_row_f">
                <div class="bl_calculator_cell">Average Monthly Revenue (US)</div>
                <div class="bl_calculator_cell">
                    <input type="text" id="tbl_amr_value" class="tbl_us" value="50000">
                </div>
                <div style="clear: both;"></div>
            </div>
            
            <div class="bl_calculator_row">
                <div class="bl_calculator_cell">Average Monthly Orders (US)</div>
                <div class="bl_calculator_cell">
                    <input type="text" id="tbl_amo_value" class="tbl_num" value="411">
                </div>
                <div style="clear: both;"></div>
            </div>
        </div>
        
        <div class="bl_calculator_input_section" style="margin-right: 0px;">
            <div class="bl_calculator_name_section">Test Parameters</div>
            
            <div class="bl_calculator_row bl_calculator_row_f">
                <div class="bl_calculator_cell">Expected ROAS</div>
                <div class="bl_calculator_cell">
                    <input type="text" id="tbl_roas_value" class="tbl_num" value="4">
                </div>
                <div style="clear: both;"></div>
            </div>
            
            <div class="bl_calculator_row">
                <div class="bl_calculator_cell">Monthly Test Budget</div>
                <div class="bl_calculator_cell">
                    <input type="text" id="tbl_mtb_value" class="tbl_us" value="500">
                </div>
                <div style="clear: both;"></div>
            </div>
        </div>
    </div>
    
    <div class="bl_calculator_results">
        <div class="bl_calculator_name_section">Expected Test Length</div>
        
        <div class="bl_calculator_results_row bl_calculator_results_row_ma">
            <div class="bl_calculator_results_row_cell">&nbsp;</div>
            <div class="bl_calculator_results_row_cell">Min</div>
            <div class="bl_calculator_results_row_cell">Max</div>
        </div>
        
        <div class="bl_calculator_results_row bl_calculator_row bl_calculator_row_f">
            <div class="bl_calculator_results_row_cell">Until Yes/No of added value:</div>
            <div class="bl_calculator_results_row_cell"><span id="tbl_yn_min" class="gc_results">0 Days</span></div>
            <div class="bl_calculator_results_row_cell"><span id="tbl_yn_max" class="gc_results">0 Days</span></div>
        </div>
        
        <div class="bl_calculator_results_row bl_calculator_row bl_calculator_row_f">
            <div class="bl_calculator_results_row_cell">Until precise lift estimate:</div>
            <div class="bl_calculator_results_row_cell"><span class="gc_results">up to</span></div>
            <div class="bl_calculator_results_row_cell"><span id="tbl_le" class="gc_results">0 Days</span></div>
        </div>
    </div>
</div>

<!-- Styles -->
<style>
    #bl_calculator,
    #bl_calculator * {
        box-sizing: border-box;
        line-height: 1.6;
    }

    #bl_calculator {
        position: relative;
        max-width: 720px;
        width: 100%;
        margin: 20px auto;
        background: #0C1A5B;
        padding: 35px 27px 20px;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, .2);
    }

    .bl_calculator_titel {
        font-size: 38px;
        text-transform: capitalize;
        font-weight: 700;
        text-align: center;
        padding-bottom: 18px;
        color: #fff;
    }

    .bl_calculator_divider {
        background: rgba(245, 245, 245, .11);
        height: 2px;
        width: 75%;
        margin: 0 auto 10px;
    }

    .bl_calculator_input_section {
        float: left;
        width: calc(50% - 5px);
        margin-right: 10px;
        padding-top: 15px;
    }

    .bl_calculator_row {
        margin-bottom: 10px;
        padding: 20px 0;
        background: #f5f5f5;
        box-shadow: 1px 1px 5px #060606;
    }

    .bl_calculator input[type="text"] {
        width: 100%;
        max-width: 200px;
        border: 0;
        box-shadow: inset 1px 1px 5px #060606;
        background: #0C1A5B;
        padding: 5px 15px;
        color: #fff;
    }

    .bl_calculator_cell {
        float: left;
        width: 50%;
    }

    .bl_calculator_results {
        margin-top: 20px;
    }

    @media all and (max-width: 768px) {
        .bl_calculator_input_section {
            float: none;
            width: 100%;
            margin-right: 0;
        }
    }

    @media all and (max-width: 420px) {
        .bl_calculator_titel {
            font-size: 25px;
            line-height: 28px;
        }

        .bl_calculator .bl_calculator_cell {
            float: none;
            width: 100%;
        }
    }
</style>

<!-- JavaScript Code -->
<script>
    function calculateGrowth() {
        var e = {
            amr: parseFloat(jQuery("#tbl_amr_value").autoNumeric("get")),
            amo: parseFloat(jQuery("#tbl_amo_value").autoNumeric("get")),
            roas: parseFloat(jQuery("#tbl_roas_value").autoNumeric("get")),
            mtb: parseFloat(jQuery("#tbl_mtb_value").autoNumeric("get"))
        };

        function t(x) {
            return 1.96 * x * Math.sqrt(e.amo / 60) * (e.amr / e.amo) / (e.roas * e.mtb / 30);
        }

        e.tbl_yn_min = Math.pow(t(1), 2);
        e.tbl_yn_max = Math.pow(t(2), 2);
        e.tbl_le = Math.pow(t(4), 2);

        if (isFinite(e.tbl_le)) {
            document.getElementById("tbl_yn_min").innerHTML = e.tbl_yn_min.formatMoney(0, ".", ",") + " <span>Days</span>";
            document.getElementById("tbl_yn_max").innerHTML = e.tbl_yn_max.formatMoney(0, ".", ",") + " <span>Days</span>";
            document.getElementById("tbl_le").innerHTML = e.tbl_le.formatMoney(0, ".", ",") + " <span>Days</span>";
        } else {
            document.getElementById("tbl_yn_min").innerHTML = "0 <span>Days</span>";
            document.getElementById("tbl_yn_max").innerHTML = "0 <span>Days</span>";
            document.getElementById("tbl_le").innerHTML = "0 <span>Days</span>";
        }
    }

    jQuery(function() {
        jQuery(".tbl_us").autoNumeric("init", {
            currencySymbol: "$",
            digitGroupSeparator: ",",
            decimalCharacter: ".",
            decimalPlacesOverride: 0
        });

        jQuery(".tbl_num").autoNumeric("init", {
            currencySymbol: "",
            digitGroupSeparator: ",",
            decimalCharacter: ".",
            decimalPlacesOverride: 0
        });

        jQuery("#bl_calculator input").change(function() {
            calculateGrowth();
        });

        calculateGrowth();
    });

    Number.prototype.formatMoney = function(e, t, a) {
        var n = this,
            r = (e = isNaN(e = Math.abs(e)) ? 2 : e, t = t || ".", a = a || ",", n < 0 ? "-" : ""),
            l = parseInt(n = Math.abs(+n || 0).toFixed(e)) + "",
            u = (u = l.length) > 3 ? u % 3 : 0;
        return r + (u ? l.substr(0, u) + a : "") + l.substr(u).replace(/(\d{3})(?=\d)/g, "$1" + a) + (e ? t + Math.abs(n - l).toFixed(e).slice(2) : "");
    };
</script>
