html {
  box-sizing: border-box;
  height: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.9);
  background-color: #fff;
}

#root {
  position: relative;
  margin: auto;
  min-height: 100vh;
}

input {
  border-radius: 5px;
  font-size: 18px;
}

h1 {
  font-weight: 600;
}

a {
  text-decoration: none;
}

.line-heading {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px 10px;
  position: relative;
  color: #808080;
}

.line-heading:before {
  content: '';
  border-top: 1px solid #b0b0b0;
  margin: 0px 5px 0px 0px;
  flex: 1 0 20px;
}

.line-heading:after {
  content: '';
  border-top: 1px solid #b0b0b0;
  margin: 0px 0px 0px 5px;
  flex: 1 0 20px;
}